.blag {
  &Card {
    img {
      height: 460px;
      width: 100%;
      object-fit: cover;
      border: 1px solid var(--light-gray);
      border-radius: 8px;
      @media(max-width: 1400px){
        height: 400px;
      }
      @media(max-width: 1199px){
        height: 320px;
      }
      @media(max-width: 575px){
        height: 55vw;
      }
    }

  }
}