.blag {
  &Card {
    img {
      height: 460px;
      width: 100%;
      object-fit: cover;
      border: 1px solid var(--light-gray);
      border-radius: 8px;
      transition: box-shadow .2s linear;
      &:hover {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);

      }
      @media(max-width: 1400px){
        height: 400px;
      }
      @media(max-width: 1199px){
        height: 320px;
      }
      @media(max-width: 575px){
        height: 55vw;
      }
    }
  }
}